.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    display: none !important;
}

#container .outline-qq .wf-write-btn, #container .outline-qq button.fake-write-btn, #container .outline-qq .popup-quotation .quotation-wf-group .quotation-wf-right .quotation-write-btn, #container .popup-quotation .quotation-wf-group .quotation-wf-right .outline-qq .quotation-write-btn {
    background-color: #12B7F5;
}

.wf-write-btn {
    border-bottom-right-radius: 10px;
    position: relative;
    left: 2px;
    width: 70px;
    height: 34epx;
    padding: 8px 15px;
    text-align: center;
    color: #fff;
    background: #d60036;
    vertical-align: middle;
}

